<h2> Classifieds </h2>

<table class="ideastable">
  <thead>
    <tr>
      <th class="idea">Idea</th>
      <th class="role_need">Looking for</th>
      <th class="status">Idea status</th>
      <th class="okr_prio">OKRs</th>
    </tr>
  </thead>


  {% assign ideas = include.ideas | sort: 'id' %}
  {% assign count = ideas|size %}

  {% for page in ideas %}
  {% assign count = page.roles-needed|size %}
  {% if count > 0 %}
    <tr>

      <td class="idea">
        <a href="{{page.url|relative_url}}">{{page.id|xml_escape}}</a>
      </td>
      <td class="role-needed">
        {% for role in page.roles-needed %}
          {{ role }}
        {% endfor %}
      </td>
     <td class="status"> {{ page.status }} </td>
     <td class="okr">
       {% for okr in page.okrs %}
       {{ okr }}<br>
       {% endfor %}

     </td>
    </tr>
    {% endif %}
  {% endfor %}

</table>

<h2> Commitment registry </h2>

<table class="ideastable">
  <thead>
    <tr>
      <th class="contributor">contributor</th>
      <th class="ideas">Ideas</th>
    </tr>
  </thead>

  {% for contributor in site.data.contributors %}
  {% assign ideas = include.ideas|where:"status","Active" %}

    <tr>
      <td class="contributor">{{contributor|xml_escape}}</td>
      <td class="ideas">
        {% for page in sortedideas %}
        {% if page.contributors contains contributor %}
          <a href="{{page.url|relative_url}}">{{page.id|xml_escape}}</a>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>

